<section>
    <div class="row">
        <div class="board">
            <!-- <h2>Welcome to IGHALO!<sup>™</sup></h2>-->
            <div class="board-inner">
                <ul class="nav nav-tabs bg-trans" id="myTab">

                    <li class="active">
                        <a ui-sref="App" href="#home" data-toggle="tab" title="App">
                            <span class="round-tabs one">
                                <i class="glyphicon glyphicon-home"></i>
                            </span>
                        </a>
                    </li>
                    <li ng-class="{'active':$state.includes('App')}">
                        <a ui-sref="App.ManageProfile" href="#messages" data-toggle="tab" title="Manage Profile">
                            <span class="round-tabs three">
                                <i class="fa fa-file-text-o"></i>
                            </span>
                        </a>
                    </li>
                    <li ng-class="{'active':$state.includes('App')}" data-ng-show="access.UserManagement">
                        <a ui-sref="App.ManageUsers" href="#settings" data-toggle="tab" title="Manage Users">
                            <span class="round-tabs four">
                                <i class="fa fa-users"></i>
                            </span>
                        </a>
                    </li>                  
                    <li>
                        <a href="#profile" data-toggle="tab" title="Logout" ng-click="logout()">
                            <span class="round-tabs two">
                                <i class="glyphicon glyphicon-off"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div ui-view>

</div>


<div class="row topGap-15p" align="center">
    <div class="col-md-12">
        <div class="col-sm-3">
            <div class="ih-item circle effect3 left_to_right">
                <a ui-sref="App.ManageProfile" href="#">
                    <div class="img">
                        <span class="round-tabs one icon-width">
                            <i class="fa fa-file-text-o topGap-25p"></i>
                        </span>
                    </div>
                    <div class="info">
                        <h3>Manage Profile</h3> <p>Manage Your Profile Here.</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="ih-item circle effect3 left_to_right">
                <a ui-sref="App.AddUser" href="#">
                    <div class="img">
                        <span class="round-tabs three icon-width">
                            <i class="fa fa-user-plus topGap-25p"></i>
                        </span>
                    </div>
                    <div class="info">
                        <h3>Add User</h3> <p>Add User In Your Organization.</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="ih-item circle effect3 left_to_right">
                <a ui-sref="App.ManageUsers" href="#">
                    <div class="img">

                        <span class="round-tabs four icon-width">
                            <i class="fa fa-users topGap-25p"></i>

                        </span>

                    </div>
                    <div class="info">
                        <h3>Manage Users</h3> <p>Manage Your Organization's Users.</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="ih-item circle effect3 left_to_right">
                <a ui-sref="App.ManageUserPermissions" href="#">
                    <div class="img">

                        <span class="round-tabs two icon-width">
                            <i class="glyphicon glyphicon-edit topGap-25p"></i>
                        </span>
                    </div>
                    <div class="info">
                        <h3>Manage Permission</h3> <p>Set Permission For Users.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('a[title]').tooltip();
    });
</script>