

<div>
    @*<ul>
        <li ui-sref-active="active">
            <a ui-sref="App">App</a>
        </li>
        <li ui-sref-active="active">
            <a href="#" ng-click="logout()">Logout</a>
        </li>
        <li ng-class="{'active':$state.includes('App')}">
            <a ui-sref="App.ManageProfile">Manage Profile</a>
        </li>
        <li ng-class="{'active':$state.includes('App')}" data-ng-show="access.UserManagement">
            <a ui-sref="App.ManageUsers">Manage Users</a>
        </li>

    </ul>*@


    <div ui-view>

    </div>
</div>

<div class="row topGap-15p" align="center">
    <div class="col-md-12">
        <div class="col-sm-3">

            <!-- normal -->
            <div class="ih-item circle effect3 left_to_right">
                <a ui-sref="App.ManageProfile" href="#messages">
                    <div class="img">

                        <span class="round-tabs one icon-width">
                            <i class="glyphicon glyphicon-file topGap-25p"></i>
                        </span>

                    </div>
                    <div class="info">
                        <h3>manage Profile</h3>
                        <p>Description goes here</p>
                    </div>
                </a>
            </div>
            <!-- end normal -->

        </div>
        <div class="col-sm-3">

            <!-- normal -->
            <div class="ih-item circle effect3 left_to_right">

                <a ui-sref="App" href="#home">
                    <div class="img">

                        <span class="round-tabs three icon-width">
                            <i class="fa fa-user-plus topGap-25p"></i>
                        </span>

                    </div>
                    <div class="info">
                        <h3>Add User</h3>
                        <p>Description goes here</p>
                    </div>
                </a>
            </div>
            <!-- end normal -->

        </div>
        <div class="col-sm-3">

            <!-- normal -->
            <div class="ih-item circle effect3 left_to_right">
                <a ui-sref="App.ManageUsers" href="#settings">
                    <div class="img">

                        <span class="round-tabs four icon-width">
                            <i class="fa fa-user topGap-25p"></i>
                        </span>

                    </div>
                    <div class="info">
                        <h3>Manage User</h3>
                        <p>Description goes here</p>
                    </div>
                </a>
            </div>
            <!-- end normal -->

        </div>
        <div class="col-sm-3">

            <!-- normal -->
            <div class="ih-item circle effect3 left_to_right">
                <a href="#profile" ng-click="logout()">
                    <div class="img">

                        <span class="round-tabs two icon-width">
                            <i class="fa fa-sticky-note-o topGap-25p"></i>
                        </span>

                    </div>
                    <div class="info">
                        <h3>Manage Profile</h3>
                        <p>Description goes here</p>
                    </div>
                </a>
            </div>
            <!-- end normal -->

        </div>
    </div>
</div>
