

<div class="container">

    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form name="createUser" role="form" class="bg-gred padding-20 bord-rade-10 topGap-15">
                <h2> Create User As  </h2>

                <hr class="colorgraph">
                <div class="row">

                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input name="FirstName" ng-model="UserModel.UserFirstName" type="text" ng-disabled="loading" placeholder="FirstName" class="form-control input-md" required>
                            <span style="color:red" ng-show="createUser.FirstName.$dirty && createUser.FirstName.$invalid">FirstName is required.</span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input name="LastName" ng-model="UserModel.UserLastName" type="text" ng-disabled="loading" placeholder="LastName" class="form-control input-md" required>
                            <span style="color:red" ng-show="createUser.LastName.$dirty && createUser.LastName.$invalid">LastName is required.</span>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input name="Username" ng-model="UserModel.UserName" type="text" ng-disabled="loading" placeholder="User Name" class="form-control input-md" required data-unique-username>
                            <span style="color:red" ng-show="createUser.Username.$dirty && createUser.Username.$error.required">User Name is required.</span>
                            <span style="color:red" ng-show="createUser.Username.$error.isDuplicateUsername">This UserName is already taken.</span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="main">
                            <autocompleteuserrole ng-model="UserModel.RoleName" ng-disabled="loading" attr-placeholder="type to search UserRoles..." click-activation="true" data="Roles" on-type="updateUserRoles"></autocompleteuserrole>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="form-group">
                            <input name="Email" type="email" ng-disabled="loading" ng-model="UserModel.UserEmailId" placeholder="Email Address" class="form-control input-md" required data-unique-email>

                            <span style="color:red" ng-show="createUser.Email.$error.email">Invalid Email address.</span>
                            <span style="color:red" ng-show="createUser.Email.$dirty && createUser.Email.$error.required">Email is required.</span>
                            <span style="color:red" ng-show="createUser.Email.$error.isDuplicatedEmail">This Email is already taken.</span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input name="Password" ng-model="UserModel.Password" ng-disabled="loading" type="password" placeholder="Password" minlength="7" ng-maxlength="15" class="form-control input-md" required>
                            <span style="color:red" ng-show="createUser.Password.$dirty && createUser.Password.$invalid">Password is required.</span>
                            <span style="color: red" class="error" ng-show="createUser.Password.$dirty && createUser.Password.$error.minlength">Atleast 7 characters required.</span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <span>
                                <input name="ConfirmPassword" ng-model="UserModel.ConfirmPassord" ng-disabled="loading" type="password" placeholder="Confirm Password" class="form-control input-md" required>
                                <span style="color:red" ng-show="createUser.ConfirmPassword.$dirty && AddUser.ConfirmPassword.$invalid">Confirm Password is required.</span>
                                <span style="color:red" ng-show="createUser.ConfirmPassword.$dirty && UserModel.ConfirmPassord!=UserModel.Password">Password and Confirm Password do not match.</span>
                            </span>
                        </div>
                    </div><div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="form-group">
                            <input name="Number" ng-model="UserModel.UserMobileNo" ng-disabled="loading" type="text" maxlength="14" placeholder="Contact No" class="form-control input-md" required>
                            <span style="color:red" ng-show="createUser.Number.$dirty && createUser.Number.$invalid">Contact No. is required.</span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="main">
                            <autocomplete ng-model="UserModel.UserCity" ng-disabled="loading" attr-placeholder="type to search Cities..." click-activation="true" data="cities" on-type="updateCities"></autocomplete>
                        </div>
                        <span style="color:red" ng-show="createUser.City.$dirty && createUser.City.$invalid">City is required.</span>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="main">
                            <autocompletestate ng-model="UserModel.UserState" ng-disabled="loading" attr-placeholder="type to search States..." click-activation="true" data="States" on-type="updateStates"></autocompletestate>
                        </div>
                        <span style="color:red" ng-show="createUser.State.$dirty && createUser.State.$invalid">State is required.</span>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="form-group topGap-15">
                            <input name="Street" type="text" ng-disabled="loading" ng-model="UserModel.UserStreet" placeholder="Street" class="form-control input-md" required>
                            <span style="color:red" ng-show="createUser.Street.$dirty && createUser.Street.$invalid">Street is required.</span>
                        </div>
                    </div>

                </div>

                <!--<div class="row">
            <div class="col-xs-4 col-sm-3 col-md-3">
                <span class="button-checkbox">
                    <button type="button" class="btn" data-color="info" tabindex="7">I Agree</button>
                    <input type="checkbox" name="t_and_c" id="t_and_c" class="hidden" value="1">
                </span>
            </div>
            <div class="col-xs-8 col-sm-9 col-md-9">
                By clicking <strong class="label label-primary">Register</strong>, you agree to the <a href="#" data-toggle="modal" data-target="#t_and_c_m">Terms and Conditions</a> set out by this site, including our Cookie Use.
            </div>
        </div>-->

                <hr class="colorgraph">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <input type="submit" name="singlebutton" class="btn btn-primary" ng-disabled="createUser.$invalid || loading" ng-click="CreateUser(UserModel)" value="Add User" />
                        <!--<span class="leftGap-10">Already have an account? <a href='#'>Click Here</a> </span>-->
                    </div>
                    <!--<div class="col-xs-12 col-md-6"><a ui-sref="Login" class="btn btn-success btn-block btn-lg">Sign In</a></div>-->
                </div>
            </form>
        </div>
    </div>
   
</div>

