 
<div class="container">

    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form role="form" class="bg-gred padding-20 bord-rade-10">
                <h2> <small>Register As </small></h2><hr />
                <div>
                    <label><input type="radio" ng-init="RegModel.RegisteredAs='Organization'" ng-model="RegModel.RegisteredAs" name="RegisteredAs" value="Organization" required />Organization</label>
                    <label><input type="radio" ng-model="RegModel.RegisteredAs" name="RegisteredAs" value="Individual" required />Individual</label>
                </div>
                <hr class="colorgraph">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="form-group">
                            <input type="text" ng-model="RegModel.OrgName" name="OrgName" class="form-control input-md" ng-required="RegModel.RegisteredAs=='Organization'" ng-disabled="RegModel.RegisteredAs=='Individual' || loading " id="display_name" placeholder="Organization Name" tabindex="1">
                            <span style="color:red" ng-show="AddUser.OrgName.$dirty && AddUser.OrgName.$invalid">Organization Name is required.</span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input name="FirstName" ng-model="RegModel.UserFirstName" type="text" ng-disabled="loading" placeholder="First Name" class="form-control input-md" required tabindex="2">
                            <span style="color:red" ng-show="AddUser.FirstName.$dirty && AddUser.FirstName.$invalid">FirstName is required.</span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input name="LastName" ng-model="RegModel.UserLastName" type="text" ng-disabled="loading" placeholder="Last Name" class="form-control input-md" required tabindex="3">
                            <span style="color:red" ng-show="AddUser.LastName.$dirty && AddUser.LastName.$invalid">LastName is required.</span>

                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="form-group">
                            <input name="Username" ng-model="RegModel.UserName" type="text" ng-disabled="loading" placeholder="User Name" class="form-control input-md" required data-unique-username tabindex="4">
                            <span style="color:red" ng-show="AddUser.Username.$dirty && AddUser.Username.$error.required">User Name is required.</span>
                            <span style="color:red" ng-show="AddUser.Username.$error.isDuplicateUsername">This UserName is already taken.</span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="form-group">
                            <input name="Email" type="email" ng-disabled="loading" ng-model="RegModel.UserEmailId" placeholder="Email Address" class="form-control input-md" required data-unique-email tabindex="5">
                            <span style="color:red" ng-show="AddUser.Email.$error.email">Invalid Email address.</span>
                            <span style="color:red" ng-show="AddUser.Email.$dirty && AddUser.Email.$error.required">Email is required.</span>
                            <span style="color:red" ng-show="AddUser.Email.$error.isDuplicatedEmail">This Email is already taken.</span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input name="Password" ng-model="RegModel.Password" ng-disabled="loading" type="password" placeholder="Password" minlength="7" ng-maxlength="15" class="form-control input-md" required tabindex="6">
                            <span style="color:red" ng-show="AddUser.Password.$dirty && AddUser.Password.$invalid">Password is required.</span>
                            <span style="color: red" class="error" ng-show="AddUser.Password.$dirty && AddUser.Password.$error.minlength">Atleast 7 characters required.</span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input name="ConfirmPassword" ng-model="RegModel.ConfirmPassord" ng-disabled="loading" type="password" placeholder="Confirm Password" class="form-control input-md" required tabindex="7">
                            <span style="color:red" ng-show="AddUser.ConfirmPassword.$dirty && AddUser.ConfirmPassword.$invalid">Confirm Password is required.</span>
                            <span style="color:red" ng-show="AddUser.ConfirmPassword.$dirty && RegModel.ConfirmPassord!=RegModel.Password">Password and Confirm Password do not match.</span>
                        </div>
                    </div><div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="form-group">
                            <input name="Number" ng-model="RegModel.UserMobileNo" ng-disabled="loading" type="text" maxlength="14" placeholder="Contact No" class="form-control input-md" required tabindex="8">
                            <span style="color:red" ng-show="AddUser.Number.$dirty && AddUser.Number.$invalid">Contact No. is required.</span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="main">
                            <autocomplete ng-model="RegModel.UserCity" ng-disabled="loading" attr-placeholder="type to search Cities..." click-activation="true" data="cities" on-type="updateCities"></autocomplete>
                        </div>
                        <span style="color:red" ng-show="AddUser.City.$dirty && AddUser.City.$invalid">City is required.</span>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="main">
                            <autocompletestate ng-model="RegModel.UserState" ng-disabled="loading" attr-placeholder="type to search States..." click-activation="true" data="States" on-type="updateStates"></autocompletestate>
                        </div>
                        <span style="color:red" ng-show="AddUser.State.$dirty && AddUser.State.$invalid">State is required.</span>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="form-group topGap-15">
                            <input name="Street" type="text" ng-disabled="loading" ng-model="RegModel.UserStreet" placeholder="Street" class="form-control input-md" required>
                        </div>
                    </div>

                </div>

                <!--<div class="row">
                    <div class="col-xs-4 col-sm-3 col-md-3">
                        <span class="button-checkbox">
                            <button type="button" class="btn" data-color="info" tabindex="7">I Agree</button>
                            <input type="checkbox" name="t_and_c" id="t_and_c" class="hidden" value="1">
                        </span>
                    </div>
                    <div class="col-xs-8 col-sm-9 col-md-9">
                        By clicking <strong class="label label-primary">Register</strong>, you agree to the <a href="#" data-toggle="modal" data-target="#t_and_c_m">Terms and Conditions</a> set out by this site, including our Cookie Use.
                    </div>
                </div>-->

                <hr class="colorgraph">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <input type="submit" name="singlebutton" class="btn btn-primary btn-block" ng-disabled="AddUser.$invalid || loading" ng-click="InsertOrgAndUser(RegModel)" value="Register" />
                        <!--<span class="leftGap-10">Already have an account? <a href='#'>Click Here</a> </span>-->
                    </div>
                    <div class="col-xs-12 col-md-6"><a ui-sref="Login" class="btn btn-warning btn-block">Sign In</a></div>
                </div>
            </form>
        </div>
    </div>
</div>